body {
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
    margin-top: 0;
    margin-left: 0;
}
h1 {
    position: fixed;
    top: 0;
    width:100%;
    height:12%;
    font-size: 5rem;
    background:#040404;
    color:#716f6f;
    margin-top: 0;
    /* padding-top: 30px; */
    padding-bottom: 30px;
    font-family: cursive;
} 

.button {
    width :100%; 

    /* position: sticky; */
}

.buttonContainer {
    width:100%;
    position: fixed;
    top:134px;
    /* margin-top: 150px; */
    display: flex;
    /* justify-content: space-around; */ 
    background-color: #040404;
}

#newsfeed {
    width: 100%;
    margin-top: 200px;
}

.feed {
    background-color:rgb(104, 110, 110);
    color: #2d2828;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 30px;
    padding: 5px;
    border-color: #333;
    border: 10px;
    padding: 10px;
    /* margin-left: 10%; */
    margin-right: 10%;
    border: 1px;
    -webkit-border-bottom-right-radius: 50px;
    display: grid;
    grid-template-columns:repeat(3,1fr);
    width: 100%;
}

.friend{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 2rem;
}

.feeling{
    grid-column-end: 3;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.timestamp{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.text{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 1.2rem;
}
img{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    margin: auto;
    width: 50%;
    margin-top: 5%;
}

.hide {
    display: none;
}

.form{
    position: fixed;
    top:200px;
    width: 100%;

    /* background-color:black; */
    /* padding-top: 100px; */
}
textarea{
    width:350px;
    height:50px;
    padding: 10px;
    border-radius: 15px;
    background-color: beige;
}
html{
    margin-top: 0;
    padding: 0;
    background-color: #333;
    /* max-height: 844px;
    max-width: 390px; */
}

.username {
    padding-top: 0px;
    position: fixed;
    right: 10px;
    top: 90px;
    font-size: 3rem;
    color: #8f8686;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}